.*.swp
t/*-*.t
t/*.t.exe
*/*.o
blib/
_build/
perl++/headers/config.h
perl++/headers/extend.h
perl++/source/evaluate.C
test.out
Build
MYMETA.yml
libperl++-*.tar.bz2
examples/combined
examples/game
examples/Extend.so
examples/Extend.dll
