.*.swp
t/*-*.t
t/*.t.exe
*/*.o
blib/
_build/
perl++/headers/config.h
perl++/headers/extend.h
perl++/source/evaluate.C
perl++/headers/multiplicity.h
test.out
Build
MYMETA.yml
libperl++-*.tar.gz
examples/combined
examples/game
examples/*.so
examples/*.dll
examples/*.exe
